<div id="logo">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('cellar_index') }}">my<span class="red">Wine</span></a>
    {% else %}
        <a href="{{ path('homepage') }}">my<span class="red">Wine</span></a>
    {% endif %}
</div>

<nav>

    <ul>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li><a href="{{ path('cellar_index') }}">Mes Caves</a></li>
    {% else %}
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
    {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
        <li><a href="{{ path('admin_panel') }}">Admin</a></li>
        {% endif %}

        <li><a href="{{ path('contact') }}">Contact</a></li>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
        {% endif %}

    </ul>
</nav>