{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ 'bottle.type.list'|trans }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'label'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for bottleType in bottleTypes %}
            <tr>
                <td><a href="{{ path('bottletype_show', { 'id': bottleType.id }) }}">{{ bottleType.id }}</a></td>
                <td>{{ bottleType.label }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bottletype_show', { 'id': bottleType.id }) }}">{{ 'show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('bottletype_edit', { 'id': bottleType.id }) }}">{{ 'edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bottletype_new') }}">{{ 'create.new.entry'|trans }}</a>
        </li>
    </ul>
{% endblock %}
