{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="content">
        <h1>{{ 'bottle_type'|trans }}</h1>

        <table>
            <tbody>
                <tr>
                    <th>{{ 'id'|trans }}</th>
                    <td>{{ bottleType.id }}</td>
                </tr>
                <tr>
                    <th>Label</th>
                    <td>{{ bottleType.label }}</td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('bottletype_index') }}">{{ 'back_to_list'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('bottletype_edit', { 'id': bottleType.id }) }}">{{ 'edit'|trans }}</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
