{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="content">
    <h1>{{ 'us'|trans }} <span class="red">{{ 'contact'|trans }}</span></h1>

    {% if message is defined and message is not null %}
        {{ message|trans }}
    {% endif %}

    {{ form_start(form) }}


    <div class="line">
        <div class="champForm">
            {{ form_label(form.sender) }}
            {{ form_widget(form.sender) }}
        </div>
        <div class="champForm">
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
        </div>
    </div>

    <div class="line">
        <div class="champForm">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
        </div>
    </div>

    <div class="line">
        <div class="champForm">
            <div class="cta">
                <input type="submit" value="{{ 'create'|trans }}" />
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
