{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="content">
    <h1>Nous <span class="red">contacter</span></h1>
    {# {{ form(form) }} #}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# champ email #}
    {{ form_label(form.sender) }}
    {{ form_errors(form.sender) }}
    {{ form_widget(form.sender) }}

    {# champ sujet #}
    {{ form_label(form.subject) }}
    {{ form_errors(form.subject) }}
    {{ form_widget(form.subject) }}

    {# champ message #}
    {{ form_label(form.message) }}
    {{ form_errors(form.message) }}
    {{ form_widget(form.message) }}

    {{ form_end(form) }}
</div>
{% endblock %}
