{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="content">

    <h1>{{ 'cellar.edit_entry'|trans }} : <span class="red">{{ cellar.name }}</span></h1>

    <div class="line">
        {{ form_start(edit_form) }}

        <div class="line">
            <div class="champForm">
                {{ form_label(edit_form.name) }}
                {{ form_widget(edit_form.name) }}
            </div>
            <div class="champForm">
                {{ form_label(edit_form.description) }}
                {{ form_widget(edit_form.description) }}
            </div>
        </div>
        <div class="line">
            <div class="champForm">
                {{ form_label(edit_form.maxBottles) }}
                {{ form_widget(edit_form.maxBottles) }}
            </div>
            <div class="champForm">
                {{ form_label(edit_form.image_file) }}
                {{ form_widget(edit_form.image_file) }}
            </div>
        </div>

        <div class="line">
            <div class="champForm">
                <div class="ctaForm">
                    <input type="submit" value="{{ 'update'|trans }}" />
                </div>
            </div>
        </div>

        {{ form_end(edit_form) }}

        <div class="line">
            <div class="champForm">
                <div class="ctaForm">
                    <div class="deleteForm">
                        {{ form_start(delete_form) }}
                        <input type="submit" value="{{ 'delete'|trans }}">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="line">
        <p class="back">
            <a href="{{ path('cellar_index') }}">{{ 'cellar.back_to_cellar'|trans }}</a>
        </p>
    </div>

</div>
{% endblock %}
