{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="content">

    <h1>Cellar <span class="red">edit</span></h1>

    <div class="line">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="line">
                <input type="submit" value="Edit" />

                <div class="deleteForm">
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>

        {{ form_end(edit_form) }}

    </div>

    <div class="line">
        <p class="back">
            <a href="{{ path('cellar_index') }}">Back to the list</a>
        </p>
    </div>

</div>
{% endblock %}
