{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="content">
    <h1>{{ 'my'|trans }} <span class="red">{{ 'cellars'|trans }}</span></h1>

    <div class="cta">
        <a href="{{ path('cellar_new') }}">+ Create a new entry</a>
    </div>

    {% for cellar in cellars %}
        <div class="cellar">
            <div class="blocEntry">
                <p class="entry">
                    <span class="title">
                        <a href="{{ path('cellar_show', { 'id': cellar.id }) }}">
                            {{ cellar.name }}
                        </a>
                    </span>
                </p>
                <p class="entry">{{ cellar.description }}</p>
                <p class="entry">
                    <a href="{{ path('cellar_show', { 'id': cellar.id }) }}">show</a>
                    /
                    <a href="{{ path('cellar_edit', { 'id': cellar.id }) }}">edit</a>
                </p>
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}
