{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ 'cellar'|trans }} : <span class="red">{{ cellar.name }}</span></h1>

    <div class="cta">
        <a href="{{ path('bottle_new', {'cellarId':cellar.id}) }}">+ {{ 'bottle.add'|trans }}</a>
    </div>

    <table>
        <tbody>
            <tr>
                {% for bottle in bottles %}
                    <td><a href="{{ path('bottle_show', {'cellarId':cellar.id,'id': bottle.id }) }}">{{ bottle.id }}</a></td>
                {% endfor %}
                {% for i in bottles|length..cellar.maxBottles %}
                        <td></td>
                    {% if i%10 == 0 and i != 0%}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cellar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cellar_edit', { 'id': cellar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
