{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>Cellar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cellar.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cellar.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cellar.description }}</td>
            </tr>
            <tr>
                <th>Bottle</th>
            </tr>
            <tr>
                {% for b in bottles %}
                        <td>{{ b.name }}</td>
                        <td>{{ b.description }}</td>
                        <td>{{ b.vineyard }}</td>
                        <td>{{ b.winemaking }}</td>
                        <td>{{ b.buyingPrice }}</td>
            </tr>
            {% endfor %}
            </tr>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div><a href="{{ path('bottle_new', {'cellarId': cellar.id}) }}">{{ 'bottle.add'|trans }}</a></div>
    <ul>
        <li>
            <a href="{{ path('cellar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cellar_edit', { 'id': cellar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
