{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cellar : <span class="red">{{ cellar.name }}</span></h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cellar.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cellar.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cellar.description }}</td>
            </tr>
            <tr>
                <th>Maxbottles</th>
                <td>{{ cellar.maxBottles }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cellar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cellar_edit', { 'id': cellar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
