{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="content">

    <h1>{{ 'list.bottle'|trans }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'vineyard'|trans }}</th>
                <th>{{ 'winemaking'|trans }}</th>
                <th>{{ 'buyingprice'|trans }}</th>
                <th>{{ 'bottle_type'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for bottle in bottles %}
            <tr>
                <td><a href="{{ path('bottle_show', {'cellar':cellar.id,'id': bottle.id }) }}">{{ bottle.id }}</a></td>
                <td>{{ bottle.name }}</td>
                <td>{{ bottle.description }}</td>
                <td>{{ bottle.vineyard }}</td>
                <td>{{ bottle.winemaking }}</td>
                <td>{{ bottle.buyingPrice }}</td>
                <td>{{ bottle.bottleType.label }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bottle_show', {'cellar':cellar.id, 'id': bottle.id }) }}">{{ 'show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('bottle_edit', {'cellar':cellar.id, 'id': bottle.id }) }}">{{ 'edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bottle_new', {'cellar':cellar.id}) }}">{{ 'create.new.entry'|trans }}</a>
        </li>
    </ul>
</div>
{% endblock %}
