{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>Bottle</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bottle.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bottle.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bottle.description }}</td>
            </tr>
            <tr>
                <th>Vineyard</th>
                <td>{{ bottle.vineyard }}</td>
            </tr>
            <tr>
                <th>Winemaking</th>
                <td>{{ bottle.winemaking }}</td>
            </tr>
            <tr>
                <th>Buyingprice</th>
                <td>{{ bottle.buyingPrice }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bottle_index', {'cellarId':cellarId}) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bottle_edit', {'cellarId':cellarId, 'id': bottle.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
