{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ 'bottle'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ bottle.id }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ bottle.name }}</td>
            </tr>
            <tr>
                <th>{{ 'description'|trans }}</th>
                <td>{{ bottle.description }}</td>
            </tr>
            <tr>
                <th>{{ 'vineyard'|trans }}</th>
                <td>{{ bottle.vineyard }}</td>
            </tr>
            <tr>
                <th>{{ 'winemaking'|trans }}</th>
                <td>{{ bottle.winemaking }}</td>
            </tr>
            <tr>
                <th>{{ 'buyingprice'|trans }}</th>
                <td>{{ bottle.buyingPrice }} {{ bottle.currency }}</td>
            </tr>
            <tr>
                <th>{{ 'vintage'|trans }}</th>
                <td>{{ bottle.vintage }}</td>
            </tr>
            <tr>
                <th>{{ 'capacity'|trans }}</th>
                <td>{{ bottle.capacity }}</td>
            </tr>
            <tr>
                <th>{{ 'bottle.type'|trans }}</th>
                <td>{{ bottle.bottleType.label }}</td>
            </tr>
            {% if bottle.imageName is not null and file_exists(web_path~asset('images/bottles/' ~ bottle.imageName)) %}
                <tr>
                    <th>{{ 'image'|trans }}</th>
                    <td><img width="auto" height="200" src="{{ asset('images/bottles/' ~ bottle.imageName) }}"></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cellar_show', {'id':cellar.id}) }}">{{ 'bottle.back_to_cellar'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('bottle_edit', {'cellarId':cellarId, 'id': bottle.id }) }}">{{ 'edit'|trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'delete'|trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <div>
        <a href="{{ path('bottle_index', {'cellar' : cellar.id}) }}" class="back">> Back to the <span class="red">list of bottles</span></a>
    </div>
{% endblock %}
