{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="content">

    <h1>Ma <span class="red">Bouteille</span></h1>


    <div id="visuBouteille">

    </div>

    <div class="infoBouteille">
        <p class="line">{{ bottle.name }}</p>
        <p class="line">{{ bottle.vineyard }}</p>
        <p class="line">{{ bottle.winemaking }}</p>
        <p class="line">{{ bottle.description }}</p>
        <p class="line">{{ bottle.buyingPrice }}</p>
    </div>

    <div id="actionBouteille">
        <div class="cta">
            <a href="{{ path('bottle_edit', { 'id': bottle.id }) }}">> Edit the bottle</a>
        </div>

        <div class="actionButton">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>

        <a href="{{ path('bottle_index') }}" class="back">> Back to the <span class="red">list of bottles</span></a>
    </div>

</div>
{% endblock %}
